In [4]:
# Import Modules
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.proportion import proportion_confint

# Import Data
df = pd.read_csv("../data/13222067_cleaned.csv")
df.head()

,jenis_kelamin,usia,pendidikan,pekerjaan,penghasilan,domisili,durasi_internet,aktivitas_online_meningkat,aktivitas_online_meningkat_3bln,layanan_aktif_1,...,bayar_online_5,bayar_online_6,bayar_online_7,bayar_online_8,keluhan_online_1,keluhan_online_2,keluhan_online_3,keluhan_online_4,keluhan_online_5,keluhan_online_6
0,Pria,47,SMA,Pekerja Serabutan,Rp 2 juta – Rp 5 juta,bandung,3.0,Sama saja,NaN,Mobile Banking,...,NaN,NaN,Melalui minimarket,NaN,Barang yang diperoleh tidak sesuai dengan spes...,Barang rusak/ salah tetapi tidak dapat dikemba...,NaN,NaN,NaN,NaN
1,Wanita,19,SMA,Pelajar / Mahasiswa,< Rp 2 juta,surabaya,10.0,Ya,Keperluan mengerjakan tugas,Mobile Banking,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pria,50,S1,Karyawan Swasta,Rp 5 juta – Rp 10 juta,jakarta,6.0,Ya,Melakukan video conference,Mobile Banking,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Wanita,19,SMA,Pelajar / Mahasiswa,< Rp 2 juta,bandung,5.0,Ya,Mengikuti kelas online,Mobile Banking,...,NaN,NaN,NaN,NaN,Barang yang diperoleh tidak sesuai dengan spes...,Barang rusak/ salah tetapi tidak dapat dikemba...,NaN,NaN,NaN,NaN
4,Pria,28,S1,Karyawan Swasta,Rp 5 juta – Rp 10 juta,bandung,9.0,Sama saja,NaN,Mobile Banking,...,Transfer via ATM,NaN,NaN,NaN,NaN,NaN,Pembayaran sudah dilakukan; barang tidak tersedia,NaN,Pembayaran telah dilakukan tetapi tidak terdet...,NaN

In [15]:
# Confidence Interval
ecommerce_cols = ["ecommerce_1", "ecommerce_2", "ecommerce_3", "ecommerce_4", "ecommerce_5", "ecommerce_6"
        , "ecommerce_7", "ecommerce_8", "ecommerce_9", "ecommerce_10", "ecommerce_11", "ecommerce_12"]
value_counts = {}
for col in ecommerce_cols:
    value_count = df[col].value_counts(dropna=True) 
    key = value_count.keys().tolist()[0]
    val = value_count.tolist()[0]
    value_counts[key] = val
value_counts_series = pd.Series(value_counts)

print("---")
print(value_counts_series)
print("---")
ci_low, ci_upp = proportion_confint(value_counts_series, value_counts_series.sum(), alpha=0.05)
print(ci_low)
print(ci_upp)
# print("---")

---
Shopee            225
Gojek (GoFood     193
Tokopedia         184
Grab (GrabFood    132
Traveloka          42
Lazada             28
Tiket.com          16
Bukalapak          17
Blibli              8
JD.id               6
Zalora              1
Tiktok              2
dtype: int64
---
Shopee            0.233921
Gojek (GoFood     0.197945
Tokopedia         0.187882
Grab (GrabFood    0.130322
Traveloka         0.034677
Lazada            0.020843
Tiket.com         0.009642
Bukalapak         0.010538
Blibli            0.002907
JD.id             0.001424
Zalora            0.000000
Tiktok            0.000000
dtype: float64
Shopee            0.293011
Gojek (GoFood     0.254046
Tokopedia         0.243031
Grab (GrabFood    0.178811
Traveloka         0.063684
Lazada            0.044730
Tiket.com         0.027829
Bukalapak         0.029274
Blibli            0.015829
JD.id             0.012628
Zalora            0.003465
Tiktok            0.005584
dtype: float64